@tailwind base;
@tailwind components;
@tailwind utilities;

/* .hidden{
  display: none;
}
@media (min-width:640px) {
  .sm\:block{
    display: block;
  }
  
} */

@layer components {
  .header_top_icon_wrapper{
   float: right;
   margin-top: 3px;
   padding: 0px 8px;
  }
}

@media (max-width:676px){
  .mark4{
    display: none;
  }

}
@media (min-width:675px){
  .mark5{
    display: none;
  }

}